.st-about-us {
	.b-title {
		align-items: flex-start;
		text-align: left;
		gap: 4.5rem;
		margin-bottom: 0;

		@include md-desk-min {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
		}

		.b-title__wrap {
			@include flex-col;
			gap: 2.5rem;

			@include md-desk-min {
				flex: 0 1 735px;
			}
		}

		.b-title__main {
			@include md-desk-min {
				font-size: 5.8rem;
			}
		}
	}

	.st-about-us__btn-wrap {
		max-width: 1200px;
		@include flex-col;
		gap: 5rem;

		@include md-desk-min {
			flex: 0 1 675px;
			margin-top: 2rem;
		}
	}
}
